.logo-container{
    z-index: 0;
    position: absolute;
    width: 400px;
    height: 609px;
    top: 0;
    right: 15%;
    left: auto;
    margin: auto;
    bottom: 0;
    opacity: 0;

    svg{
        width: 100%;
        height: 100%;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }

    .solid-logo{
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        height: 100%;
        width: 100%;
        opacity: 0;
        transform: rotateZ(30deg);
        z-index: 1;
    }
}
.svg-container{
    stroke: #ffd700;
    stroke-width:10px;
}